@font-face {
  font-family: 'logoFont';
  src: url('./PermanentMarker-Regular.ttf') format('ttf');
  /* font-weight: 600;
  font-style: normal; */
}


body {
  background-color: rgb(163, 145, 145);
  background-image: linear-gradient(120deg,  rgb(231, 175, 129), rgb(247, 240, 240));
}
/* 
h1 {
  color: white;
  background-color: black;
} */

header {
  background-image: linear-gradient(60deg, rgb(218, 218, 231), blue);
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

.mainBody {
  min-height: 100vh;
  background-color: white;
}

.filterSection {
  background-color: grey;
  /* background-color: red; */
}

.mainSection {
  /* background-color: yellow; */
}

.extraSection {
  /* background-color: green; */
}