@font-face {
  font-family: 'logoFont';
  src: url('./PermanentMarker-Regular.ttf') format('ttf');
}


body {
  background-color: #FDFDFF;
}

header {
  background-color: #393D3F;
  height: 5em;
}

.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  color: white;
}

.mainbody {
  min-height: 100vh;
  background-color:#fdfdff;
}

.pgae-content {
  height: 100%;
}

.project-section {
  background-color: #c6c5b9;
}